.library__heading {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.5rem 0;
}

.library__actions {
  position: absolute;
  right: 0;
}

.library__filter {
  display: flex;
  justify-content: center;
  margin: 4rem 0 3rem 0;
}

.library__title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .library__title {
    margin-right: auto;
    margin-left: auto;
  }
}

.library__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 0.75rem;
  padding: 1rem 0;
}

.library__body--light {
  border: 1px solid #f3f3f3;
}

.library__body--dark {
  border: 1px solid #242526;
}

.library__no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 3rem;
  border: 1px solid #242526;
}

.library__no-results--light {
  border: 1px solid #f3f3f3;
}

.library__no-results--dark {
  border: 1px solid #242526;
}

.library__no-results-icon {
  fill: currentColor;
}

.library-empty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  padding: 5rem;
}

.library-empty--dark {
  border: 1px solid #242526;
}

.library-empty--light {
  border: 1px solid #f3f3f3;
}

.library-empty__icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--primary-500);
  margin-bottom: 1rem;
}

.library-empty__icon {
  fill: #f3f3f3;
  margin-top: -0.65rem;
}

.library-empty__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  color: white;
}

.library-empty__msg {
  max-width: 28ch;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--gray-500);
}

.library-empty__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 0.45rem;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--primary-500);
  color: white;
}

.library-empty__link span {
  margin-left: 0.65rem;
}

.library-empty__link-icon {
  fill: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.5rem;
}
