.loading {
  width: 20px;
  height: 20px;
}

.loading--spin {
  animation: spin;
  animation-duration: 1.6s;

  animation-iteration-count: infinite;
}

.status--spin {
  animation: spin;
  animation-duration: 1.6s;
}

.hide {
  display: none;
}

.success {
  fill: #40be22;
}

.error {
  fill: rgb(225, 44, 63);
}

.spinner {
  fill: #fff;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
