.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  min-width: 80px;
}

.statcard--dark {
  background-color: var(--dark-on-dark);
}

.statcard--light {
  border: 1px solid var(--gray-200);
  background-color: white;
}

.statcard__title {
  color: var(--gray-500);
  font-size: 0.85rem;
}

.statcard__text {
  font-weight: bold;
  text-align: center;
}

.statcard__text--light {
  color: black;
}

.statcard__text--dark {
  color: white;
}
