.skeleton {
  padding: var(--padding-page);
  overflow-y: clip;
  max-height: 100vh;
}

.skeleton__heading {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.5rem 0;
}

.skeleton__searchbox-section {
  display: flex;
  justify-content: center;
  margin: 4rem 0 3rem 0;
}

.skeleton__searchbox {
  position: relative;
  width: 100%;
  min-width: 25ch;
  max-width: 40ch;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.13);
  opacity: 0.3;
  border-radius: 0.25rem;
}

.skeleton__title {
  height: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 180px;
}

@media screen and (min-width: 640px) {
  .skeleton__title {
    margin-right: auto;
    margin-left: auto;
  }
}

.skeleton__books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 0.75rem;
  padding: 1rem 0;
}

.skeleton__book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 180px;
  max-height: 180px;
  max-width: 150px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 0.5em;
  opacity: 0.3;
}

.skeleton__book-title {
  height: 1rem;
  width: 120px;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.13);
  z-index: 1;

  animation: pulse 2s ease-out infinite;
}

.skeleton__book-author {
  height: 0.85rem;
  width: 85px;
  background-color: rgba(255, 255, 255, 0.13);
  z-index: 1;

  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
