.input {
  padding: 0.35rem 0.5rem;
  border-radius: 0.25rem;
}

.input[type='date'] {
  height: 2rem;
}

.input--dark {
  background-color: #343434;
}

.input--light {
  background-color: light;
  border: 1px solid #c8c7c7;
}
