.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 0 4px hsl(0 0% 0% / 0.2);
  border-radius: 0.5rem;
}

.table td,
.table th {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.table--alternate-primary tbody tr:nth-child(even) {
  background-color: var(--primary-500);
  color: white;
}
