.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 0 4px hsl(0 0% 0% / 0.2);
  border-radius: 0.5rem;
}

.table td,
.table th {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.table-standard {
}

.table-standard--light thead th {
  background-color: #fafafa;
}

.table-standard--dark thead th {
  background-color: #2d2d3674;
}

.table-standard--light tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

.table-standard--dark tbody tr:nth-child(even) {
  background-color: #2d2d3674;
  color: white;
}
