.tracker {
  border-radius: 0.25rem;
}

.tracker--dark {
  background-color: var(--dark-on-dark);
}

.tracker--light {
  border: 1px solid var(--gray-200);
  background-color: white;
}

.tracker .accordion__content {
  padding: 0;
  margin: 0;
  width: 100%;
}

.tracker .accordion__button {
  font-size: 1rem;
  padding: 0.65rem 1rem 0.65rem 1rem;
}

.tracker__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;
  margin: 1rem 0;
}

.tracker__form-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem 1rem;
}

.tracker__form-btn-wrapper--light {
  background-color: #fafafa;
}

.tracker__form-btn-wrapper--dark {
  background-color: #2d2d3674;
}

.tracker__form-btn-wrapper .tracker__form-btn {
  width: fit-content;
}

.tracker__desc {
  font-size: var(--font-size-secondary);
  margin-top: -0.6rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.tracker__desc--light {
  color: black;
  border-bottom: 1px solid #f7f4f4;
}

.tracker__desc--dark {
  color: var(--gray-300);
  border-bottom: 1px solid #2d2d3674;
}

.tracker span {
  /* font-weight: bold; */
}

.tracker__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.tracker__form-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tracker__form-img {
}

.tracker__form-img--dark {
  fill: #9d9d9d;
}

.tracker__form-date-wrapper {
  display: flex;
}

.tracker__form input[type='date'] {
  flex: 1;
  text-align: center;
}

.tracker__form input[type='number'] {
  width: 100%;
  min-width: 6ch;
  text-align: center;
}
