.book-container {
  position: relative;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 180px;
  max-height: 180px;
  max-width: 150px;
  min-width: 150px;
  background-color: var(--primary-500);
  padding: 0.5em;
}

.book-container:hover,
.book-container:focus {
  /* scale: 1.05; */
}

.book-container:hover {
  /* opacity: 0.85; */
}

.book__title {
  font-size: 1rem;
  text-align: center;
  word-break: break-word;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

.book__author {
  font-size: 0.85rem;
  text-align: center;
  word-break: break-word;
  color: #fff;
  z-index: 1;
}

.book__title::selection,
.book__author::selection {
  color: white;
  background-color: #272626;
}

.book__options-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem 0.75rem 0.5rem;
  z-index: 2;
}

.book__options-icon {
  fill: var(--gray-400);
}

.book__options-icon:hover {
  fill: var(--gray-100);
}

/* popover */
.book__popover {
  position: absolute;
  z-index: 3;
  width: 175px;
  right: 0;
  top: 13%;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 3px #2c2c2c;
}

.book__popover--dark {
  background-color: #3b3b3b;
  color: white;
}

.book__popover--light {
  background-color: #fffdfd;
  color: black;
}

.book__popover-list {
  display: flex;
  flex-direction: column;
}

.book__popover-item {
  padding: 0.5rem 0.75rem;
}

.book__popover-item:hover {
  opacity: 0.5;
}

.book__popover-item--border {
  border-bottom: 1px solid var(--gray-500);
}

.book__popover-link,
.book__popover-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.book__popover-link-icon-box,
.book__popover-button-icon-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.book__popover-link-icon,
.book__popover-button-icon {
}

.book__popover-link-icon--dark,
.book__popover-button-icon--dark {
  fill: white;
}

.book__popover-link-icon--light,
.book__popover-button-icon--light {
  fill: black;
}

.book__popover-separator {
  height: 0.5rem;
}

.book__popover-separator--dark {
  background-color: #1f1f23;
}

.book__popover-separator--light {
  background-color: #f3f3f3;
}
