.book__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.book__category {
  border-radius: 0.25rem;
  background-color: var(--primary-500);
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
  color: var(--gray-200);
  text-align: center;
  width: fit-content;
}
