@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-500: #3d65af;
  --primary-400: #4b7db6;
  --primary-300: #789dc8;
  --primary-200: #a5bedb;
  --primary-100: #d2deed;

  --secondary-500: #f27059;
  --secondary-400: #f4845f;
  --secondary-300: #f79d65;
  --secondary-200: #f7b267;
  --secondary-100: #ffcb92;

  --success-500: #2958c8;
  --success-400: #274ca6;
  --success-300: #254184;
  --success-200: #223562;
  --success-100: #202a40;

  --warning-500: #f59e0b;
  --warning-400: #fbbf24;
  --warning-300: #fcd34d;
  --warning-200: #fde68a;
  --warning-100: #fef3c7;

  --error-500: #961b30;
  --error-400: #a12a3c;
  --error-300: #a32e41;
  --error-200: #a8394a;
  --error-100: #ad4756;

  --progress: #31e000;

  --page-color: #fff;
  --font-color: #000;
  --page-padding: 0 2em;
}

.no-selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

html {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

.dark {
  color-scheme: dark;
  background-color: #1f1f23;
  color: #f3f3f3;
}

.light {
  color-scheme: light;
}

body {
  position: relative;
}
