@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.dark {
  background-color: #1f1f23;
}

.light {
  background-color: #fff;
}
