.bookinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 400px;
  width: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.bookinfo__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.bookinfo__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.bookinfo__stats > * {
  flex: 1;
}

.bookinfo__tracker {
  width: 100%;
  margin-top: 1.5rem;
}

.bookinfo__links {
  padding: 3rem 0 5rem 0;
}
