.bookinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 400px;
  width: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.bookinfo__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.bookinfo__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.bookinfo__links {
  margin-top: 3rem;
}
